* {
  margin: 0%;
  padding: 0%;
}
html {
  scroll-behavior: smooth;
}
.nav {
  display: flex;
  align-items: center;
}
.nav::before {
  content: " ";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
}
.nav {
  position: relative;
}
.logo {
  margin: 30px 20px;
}
.logo img {
  height: 45px;
  margin: 5px 5px;
}
.nav ul {
  display: flex;
  font-family: fantasy;
}
.nav ul li {
  padding: 30px;
  list-style: none;
  font-size: 1rem;
}
.nav ul li a {
  color: rgb(255, 255, 255);
  display: block;
  padding: 10px;
  border-radius: 100px;
  text-decoration: none;
}
.nav ul li a:hover {
  color: rgb(0, 119, 255);
  background-color: rgb(255, 255, 255);
}

#main {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 5px 60px;
  justify-content: center;
  align-items: center;
}
#main::before {
  content: " ";
  background-image: url(bkg.webp);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64%;
  z-index: -1;
  opacity: 0.9;
}
#main h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 4rem;
}
#main p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1rem;
  font-family: sans-serif;
}

.headings {
  font-size: 3rem;
  padding: 6px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}

#services {
  margin: 30px;
  display: flex;
}

#services .box {
  border: 2px solid rgb(214, 214, 214);
  padding: 30px;
  margin: 3px 4px;
  border-radius: 24px;
  background-color: #f6f6f6;
}
#services .box:hover {
  background-color: rgb(177, 234, 255);
}
#services .box img {
  height: 110px;
  display: block;
  margin: auto;
}
.center {
  text-align: center;
}
#services .box h2 {
  font-family: Arial, Helvetica, sans-serif;
}
#services .box p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#services-container h1 {
  /* padding: 7vh; */
  /* text-align: left; */
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* .subitem{
    display: contents;
}
.nav ul li:hover.subitem{
    display: block;
    position: absolute;
    background: rgb(255, 236, 236);
    margin-top: 10px;
    margin-left: -10px;
}
.nav ul li:hover.subitem ul{
    display: block;
    margin: 10px;
}
.nav ul li:hover.subitem ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0%;
    text-align: left;
}
 */

#services-container #services a {
  text-decoration: none;
  color: black;
}
#services-container {
  margin-bottom: -30px;
  /* background-color: #aef6ff; */
  background-image: url(bkg.webp);
  z-index: -1;
  opacity: 0.9;

  width: 100%;
  height: 64%;
}
#main {
  margin-bottom: -38px;
}

/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container2 {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.6s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
